<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
</head>

<body class="bg-dark container">

    <div class="row bg-dark">
        <div class="mt-5 p-4 bg-light jumbotron col-md-4 offset-md-4 text-center bg-dark">
            <p class="display-5 fw-bold bg-dark text-white">HASTA LUEGO <%= nameUser %>
            </p>
        </div>
    </div>
    <script>
        setTimeout(() => {
            location.href = '/'
        }, 2000)
    </script>
</body>

</html>